version: 2.1
orbs:
  slack: circleci/slack@5.1.1
  ms-teams: cloudradar-monitoring/ms-teams@0.0.1
  kubernetes: circleci/kubernetes@1.3.1
jobs:
  ensure_formatting:
    docker:
      - image: cimg/python:3.13
    working_directory: ~/repo
    steps:
      - checkout
      - run: sudo apt-get update -qq && sudo apt install curl gettext-base
      - run:
          name: install dependencies
          command: pip install black isort --user
      - run:
          name: confirm black version
          command: black --version
      - run:
          name: run isort check
          command: isort --profile black --check .
      - run:
          name: run black check
          command: black --check .
      - slack/notify:
          event: fail
          template: basic_fail_1
      - ms-teams/report:
          only_on_fail: true
          webhook_url: $MS_TEAMS_WEBHOOK_URL
  linter:
    docker:
      - image: alpine/flake8
    working_directory: ~/repo
    steps:
      - checkout
      - run: apk update && apk upgrade && apk --no-cache add curl gettext bash
      - run:
          name: flake8
          command: flake8 --ignore=E,W ~/repo
      - slack/notify:
          event: fail
          template: basic_fail_1
      - ms-teams/report:
          only_on_fail: true
          webhook_url: $MS_TEAMS_WEBHOOK_URL
  build_1:
    working_directory: ~/openbas
    docker:
      - image: cimg/base:stable-20.04
    environment:
      LATEST_SEMANTIC_VERSION: $(git tag --sort=-v:refname | grep -E '^v?[0-9]+\.[0-9]+\.[0-9]+$' | head -n 1)
      IS_LATEST: $([ "$CIRCLE_TAG" = "$LATEST_SEMANTIC_VERSION" ] && echo "true" || echo "false")
    steps:
      - checkout
      - setup_remote_docker
      - run: sudo apt-get update -qq && sudo apt install curl gettext-base
      - run:
          working_directory: ~/openbas/http-query
          name: Build Docker image openbas/injector-http-query
          command: |
            TAGS="-t openbas/injector-http-query:${CIRCLE_TAG}"
            $IS_LATEST && TAGS="$TAGS -t openbas/injector-http-query:latest"
            docker build --progress=plain $TAGS .
      - run:
          working_directory: ~/openbas/nmap
          name: Build Docker image openbas/injector-nmap
          command: |
            TAGS="-t openbas/injector-nmap:${CIRCLE_TAG}"
            $IS_LATEST && TAGS="$TAGS -t openbas/injector-nmap:latest"
            docker build --progress=plain $TAGS .
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            $IS_LATEST && docker push openbas/injector-http-query:latest
            docker push openbas/injector-http-query:${CIRCLE_TAG}
            $IS_LATEST && docker push openbas/injector-nmap:latest
            docker push openbas/injector-nmap:${CIRCLE_TAG}
      - slack/notify:
          event: fail
          template: basic_fail_1
      - ms-teams/report:
          only_on_fail: true
          webhook_url: $MS_TEAMS_WEBHOOK_URL
  build_rolling_1:
    working_directory: ~/openbas
    docker:
      - image: cimg/base:stable-20.04
    steps:
      - checkout
      - setup_remote_docker
      - run: sudo apt-get update -qq && sudo apt install curl gettext-base
      - run:
         working_directory: ~/openbas
         name: Replace pyobas requirement of stable version with latest main branch code
         command: find . -name requirements.txt -exec sed 's|^pyobas==.*$|pyobas @ git+https://github.com/OpenBAS-Platform/client-python@main|' -i {} \;
      - run:
          working_directory: ~/openbas/http-query
          name: Build Docker image openbas/injector-http-query
          command: docker build --progress=plain -t openbas/injector-http-query:rolling .
      - run:
          working_directory: ~/openbas/nmap
          name: Build Docker image openbas/injector-nmap
          command: docker build --progress=plain -t openbas/injector-nmap:rolling .
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push openbas/injector-http-query:rolling
            docker push openbas/injector-nmap:rolling
      - slack/notify:
          event: fail
          template: basic_fail_1
      - ms-teams/report:
          only_on_fail: true
          webhook_url: $MS_TEAMS_WEBHOOK_URL
  build_prerelease_1:
    working_directory: ~/openbas
    docker:
      - image: cimg/base:stable-20.04
    steps:
      - checkout
      - setup_remote_docker
      - run: sudo apt-get update -qq && sudo apt install curl gettext-base
      - run:
          working_directory: ~/openbas
          name: Replace pyobas requirement of stable version with latest release branch code
          # We safely expand the CIRCLE_BRANCH variable because the CircleCI filters already enforce a strict release/x.x.x pattern using regex
          command: find . -name requirements.txt -exec sed "s|^pyobas==.*$|pyobas @ git+https://github.com/OpenBAS-Platform/client-python@${CIRCLE_BRANCH}|" -i {} \;
      - run:
          working_directory: ~/openbas/http-query
          name: Build Docker image openbas/injector-http-query
          command: docker build --progress=plain -t openbas/injector-http-query:prerelease .
      - run:
          working_directory: ~/openbas/nmap
          name: Build Docker image openbas/injector-nmap
          command: docker build --progress=plain -t openbas/injector-nmap:prerelease .
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push openbas/injector-http-query:prerelease
            docker push openbas/injector-nmap:prerelease
      - slack/notify:
          event: fail
          template: basic_fail_1
      - ms-teams/report:
          only_on_fail: true
          webhook_url: $MS_TEAMS_WEBHOOK_URL
  deploy_testing:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - kubernetes/install-kubectl
      - run: kubectl --server=https://api.staging.eu-west.filigran.io --token=$K8S_TOKEN -n customer-testing rollout restart deployment -l app=injector
  deploy_prerelease:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - kubernetes/install-kubectl
      - run: kubectl --server=https://api.staging.eu-west.filigran.io --token=$K8S_TOKEN_PRE_RELEASE -n customer-prerelease-obas rollout restart deployment -l app=injector
  notify_rolling:
    docker:
      - image: "cimg/base:stable"
    steps:
      - run: sudo apt-get update -qq && sudo apt install curl gettext-base
      - slack/notify:
          event: pass
          template: basic_success_1
      - ms-teams/report:
          only_on_fail: false
          webhook_url: $MS_TEAMS_WEBHOOK_URL
  notify:
    docker:
      - image: "cimg/base:stable"
    steps:
      - run: sudo apt-get update -qq && sudo apt install curl gettext-base
      - slack/notify:
          event: pass
          template: basic_success_1
      - ms-teams/report:
          only_on_fail: false
          webhook_url: $MS_TEAMS_WEBHOOK_URL
workflows:
  version: 2
  openbas:
    jobs:
      - ensure_formatting
      - linter
      - build_1:
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - build_rolling_1:
          requires:
            - ensure_formatting
            - linter
          filters:
            branches:
              only:
                - main
      - build_prerelease_1:
          requires:
            - ensure_formatting
            - linter
          filters:
            branches:
              only:
                - release/current
      - deploy_testing:
          requires:
            - build_rolling_1
      - deploy_prerelease:
          requires:
            - build_prerelease_1
      - notify_rolling:
          requires:
            - deploy_testing
            - deploy_prerelease
      - notify:
          requires:
            - build_1
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)+(\.[0-9]+)*/
            branches:
              ignore: /.*/
